<footer id="sticky-footer" class="flex-shrink-0 py-2 text-white bg-black" style="margin-top: 0px;">
  <div class="container text-center">
    <small>Copyright &copy; RailTracks</small>
  </div>
</footer>




<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://noonpost.netlify.app/html/template/assets/js/jquery-3.5.0.min.js"></script>
<script src="https://noonpost.netlify.app/html/template/assets/js/popper.min.js"></script>
<script src="https://noonpost.netlify.app/html/template/assets/js/bootstrap.min.js"></script>

<!-- JS Plugins  -->
<script src="https://noonpost.netlify.app/html/template/assets/js/ajax-contact.js"></script>
<script src="https://noonpost.netlify.app/html/template/assets/js/owl.carousel.min.js"></script>
<script src="https://noonpost.netlify.app/html/template/assets/js/switch.js"></script>

<!-- JS main  -->
<script src="https://noonpost.netlify.app/html/template/assets/js/main.js"></script>

