<%- include('./partials/header.ejs'); %>

    <!--mansory-layout-->
    <section class="masonry-layout col2-layout mt-30" style="margin-top: 150px;" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mt--10 ">
                    <!--cards-->
                    <div class="card-columns" id="blog_container">


                        <!--Post-1-->
                        <div class="card">
                            <div class="post-card">
                            <div class="post-card-image">
                                <a href="">
                                    <img src="" alt="">
                                </a>
                            </div>
                            <div class="post-card-content">
                                <h5><a href=""></a> </h5>
                                <p>
                                </p>
                                <div class="post-card-info">
                                    <ul class="list-inline">
                                        <li>
                                        </a>
                                        </li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            </div><!--/-->
                        </div>
                        <!--Post-2-->
                        <div class="card">
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="">
                                        <img src="" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <h5>
                                        <a href=""></a>
                                    </h5>
                                    <p> </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            
                                            <li>
                                            </li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                       
                        

                       
                       
                    </div>

                    <!--pagination-->
                    <!-- <div class="pagination mt-30">
                        <ul class="list-inline">
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="arrow_carrot-2right"></i>
                                </a>
                            </li>
                        </ul> 
                    </div>/ -->
                </div>
                <div class="col-lg-4 max-width">
                    <!--widget-latest-posts-->
                    <div class="widget ">
                        <div class="section-title">
                            <h5>Latest Posts</h5>
                        </div>
                        <ul class="widget-latest-posts" id="latest_post">
                           
                           
                            <li class="last-post">
                                <div class="image">
                                    <a href="">
                                        <img src="" alt="...">
                                    </a>
                                </div>
                                <div class="content">
                                    <p>
                                        <a href=""></a>
                                    </p>
                                    <small>
                                        <span class="icon_clock_alt"></span> </small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--/-->
                    
                </div>
            </div>
        </div>
    </section><!--/-->
  
    <%- include('./partials/footer.ejs'); %>


  <script>

    //api
  //  api fetch
    let api_url = "http://localhost:3000/blog/api/v1/blogs";
    async function getData(){
      const response = await fetch(api_url);
      const data = await response.json();
      let html_data='';
      let latest_data='';
                     
      for(let i = 0; i<data.length; i++)
      {
          let date = new Date(data[i].createdAt).toDateString();
          if(i%2===0)
          {
              html_data+= `  <div class="card">
                            <div class="post-card">
                            <div class="post-card-image">
                                <a href="/blog/viewBlog/${data[i].url}">
                                    <img  src="/uploads/thumbnails/${data[i].thumbnail}" alt="">
                                </a>
                            </div>
                            <div class="post-card-content">
                                <h5><a href="/blog/viewBlog/${data[i].url}">${data[i].title}</a> </h5>
                                <p>${data[i].text.substring(0,Math.min(100,data[i].text.length/2))}....
                                </p>
                                <div class="post-card-info">
                                    <ul class="list-inline">
                                        <li>
                                            Written by ${data[i].author_name}</a>
                                        </li>
                                        <li class="dot"></li>
                                        <li>${date}</li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </div>`;
          }
          else
          {
              html_data+=` <div class="card">
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="/blog/viewBlog/${data[i].url}">
                                        <img  src="/uploads/thumbnails/${data[i].thumbnail}" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <h5><a href="/blog/viewBlog/${data[i].url}">${data[i].title}</a> </h5>

                                    <p>${data[i].text.substring(0,Math.min(100,data[i].text.length/2))}....
                                </p>
                                <div class="post-card-info">
                                    <ul class="list-inline">
                                        <li>
                                            Written by ${data[i].author_name}</a>
                                        </li>
                                        <li class="dot"></li>
                                        <li>${date}</li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                       `;
          }

          if(i<4)
      {
          latest_data+=`<li class="last-post">
                                <div class="image">
                                    <a href="/blog/viewBlog/${data[i].url}">
                                        <img  src="/uploads/thumbnails/${data[i].thumbnail}" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <p>
                                        <a href="/blog/viewBlog/${data[i].url}">${data[i].title}</a>
                                    </p>
                                    <small>
                                        ${date}</small>
                                </div>
                            </li>`;
      }
       
      }

    
      console.log(html_data);
      document.getElementById("blog_container").innerHTML = html_data;    
      document.getElementById("latest_post").innerHTML = latest_data;         
     
    }
    getData();


    /// on scrolling nav bar padding reduce
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 80 ||
        document.documentElement.scrollTop > 80
      ) {
        document.getElementById("navtop").style.padding = "2px 2px";
      } else {
        document.getElementById("navtop").style.padding = "20px 20px";
      }
    }
  </script>


</body>
</html>