<%- include('./partials/header.ejs'); %>

   
  
<section class="create-blog" style="margin-top: 85px;">
  <form class="blog-form" encType="multipart/form-data"
        method="POST" >
    <input type="text" name="title" id="title" placeholder="Enter Blog title">
    <label for="thumbnails">Add an Image</label>
    <input type="file" name="thumbnails" id="thumbnails">
    <!-- <button class="blog-img-button">Choose background</button> -->
    <textarea placeholder="Enter blog content" id="text" name="text"></textarea>
    <input type="hidden" value="<%= loggedInUser.username %>" name="author_username" >


    <input type="submit" value="Submit">
  </form>

</section>
<%- include('./partials/footer.ejs'); %>

  <script>




    /// on scrolling nav bar padding reduce
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 80 ||
        document.documentElement.scrollTop > 80
      ) {
        document.getElementById("navtop").style.padding = "2px 2px";
      } else {
        document.getElementById("navtop").style.padding = "20px 20px";
      }
    }
  </script>


</body>
</html>




