<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css" />

    <link
      href="plugins/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link href="css/style.css" rel="stylesheet" />
<script>
  //  window.location.replace("/");
   function logout() {
        fetch("/", {
          method: "DELETE",
        });
        setTimeout(() => {
          window.location.replace("/");
        }, 1000);
      }
</script>

  </head>

  <body class="bg-dark">

   
    <!-- Nav bar -->
    <section>
      <nav
        id="navtop"
        class="
          navbar navbar-expand-lg
          bg-white
          navbar-light
          navigation
          fixed-top
        "
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="images/logo.png" alt="RailTracks" />
          </a>
          <button
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
              <% if (loggedInUser && loggedInUser.email) { %>
              <a
                href="#"
                class="nav-item nav-link active d-none"
                aria-current="page"
                >Home</a
              >
              <a href="#" class="nav-item nav-link">Profile(<%= loggedInUser.lastName %> )</a>
              <a href="#" class="nav-item nav-link">Messages</a>
              <a href="#" class="nav-item nav-link">Blogs</a>
              <a href="#" onclick="logout()" class="nav-item nav-link">Log Out</a>
              <% } else { %>
              <a class="nav-link login-button" href="/login"
                >Offer Mentorship</a
              >

              <a class="nav-link text-white add-button" href="#">Find Mentor</a>
              <% } %>
            </div>
          </div>
        </div>
      </nav>
    </section>
  
    <!-- nav bar end -->


  <section class="bg-image hero-area text-center overly">
    <!-- Container Start -->
    <div class="container">
      <!-- <div class="row"> -->
      <div class="col-md-12">
        <!-- Header Contetnt -->
        <div class="content-block">
          <h1>Find a Mentor!</h1>
          <p>Acquire the skills you need for a better life.</p>
        </div>
        <!-- Advance Search -->
        <div class="advance-search">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-md-12 align-content-center">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="text" style="color: #000000; background-color: #dadae4"
                        class="form-control my-2 my-lg-1" id="inputtext4" placeholder="What are you looking for" />
                    </div>
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-4">
                      <select style="color: #000000; background-color: #dadae4"
                        class="w-80 form-control mt-lg-1 mt-md-2">
                        <option style="color: gray" value="" disabled selected hidden>
                          Select Category
                        </option>
                        <option value="1">Top rated</option>
                        <option value="2">Category 1</option>
                        <option value="3">Category 2</option>
                      </select>
                    </div>

                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-2 align-self-center">
                      <button type="submit" class="btn-search btn-primary">
                        Search Now
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- search end -->
      </div>
      <!-- </div> -->
    </div>
  </section>
  <!-- extra - kono kamer nah.. ken use korchi nijeo jani nah, but kam korteche -->
  <div style="margin-top: 76px"></div>
  <!-- extra - end -->
  <p>Hello,  Welcome to RailTracks. </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptate
    nemo amet ratione, doloremque nam et illum voluptatum consequuntur esse
    omnis odit delectus labore. Eos incidunt quidem, nisi eligendi accusamus
    aspernatur? Eius sapiente tempora nobis exercitationem omnis deserunt eum
    repellat adipisci, quo quidem doloribus delectus labore. Dolores
    perspiciatis nisi doloremque architecto consequatur. Distinctio aperiam
    similique nesciunt, officiis suscipit magni veniam praesentium
    accusantium, inventore aliquam earum quos nulla? Consectetur, illum
    nesciunt nihil sequi harum esse cupiditate nostrum asperiores praesentium
    quos earum nam ex dolor deserunt nemo ducimus aspernatur adipisci aliquam
    vero repellendus excepturi? Officia dicta earum assumenda nemo esse
    dolores ex temporibus id ullam quae animi sapiente eum doloremque placeat
    totam delectus, architecto eaque, magni nam? In explicabo tempore magnam
    assumenda modi aut, nisi, eveniet odit qui itaque recusandae tenetur
    blanditiis voluptatum doloremque rem facilis corporis nostrum veniam
    accusamus ratione quae doloribus omnis? Illo provident maiores deleniti
    iusto! Quibusdam, incidunt quaerat suscipit adipisci excepturi maxime,
    eaque esse sit corporis dolore consectetur sunt magnam nemo exercitationem
    tempore saepe enim animi. Nesciunt, molestias ex nemo doloribus velit
    doloremque tenetur error? Natus placeat nostrum, quibusdam aspernatur
    eaque, magnam, eos dicta doloribus voluptatibus iusto magni consectetur.
    Consequatur ad similique iusto ab! Veniam, corporis quaerat nihil optio
    porro eligendi ducimus minima deleniti ab, molestiae aut praesentium alias
    dignissimos! Dignissimos, omnis. Doloremque aspernatur, recusandae amet
    sequi ullam reiciendis sit cumque exercitationem est quae maxime? Harum,
    illum eius odio dignissimos deserunt nam quaerat, modi ipsa asperiores
    cumque cupiditate facere porro? Reprehenderit excepturi necessitatibus
    esse nesciunt? Est laudantium quo quam delectus. Quaerat ut odio delectus
    facere aliquam animi nostrum aut itaque laboriosam provident, labore, quas
    eveniet quibusdam optio, ipsam fuga dignissimos suscipit consequuntur odit
    commodi voluptatibus reiciendis! Delectus, magnam quo nesciunt quasi minus
    adipisci amet ex eos labore a accusantium harum porro corporis error
    minima illum ad molestiae. Quidem, voluptas incidunt quisquam autem odio
    fugiat nihil dicta perspiciatis quas, inventore, ratione nemo. Ad hic
    cupiditate ipsa facere ea? Aliquam ad rerum ut itaque neque eos iure nulla
    doloribus ullam perspiciatis, quod repudiandae aperiam natus nemo
    temporibus aut saepe aspernatur qui illum necessitatibus voluptatem vero.
    At laboriosam ipsum consectetur ipsam nostrum earum, pariatur delectus
    corrupti nesciunt voluptas. Ducimus ad beatae velit necessitatibus labore
    aliquam illo, accusantium odio ab amet eaque ut sed consectetur
    repellendus molestias suscipit? Laboriosam recusandae odit aliquam velit
    officia repellendus nemo totam minus quod quibusdam? Reiciendis, dolorum
    quos aut animi veritatis fugit nulla rem ipsa iste perferendis dicta,
    voluptatibus excepturi provident magni non minima? Corporis obcaecati
    molestias, neque magni corrupti omnis dicta in magnam doloremque facilis
    voluptates alias quidem aliquid sint, consequuntur, aperiam eos
    consequatur animi consectetur error quasi distinctio eum repudiandae! Cum
    unde quidem molestias dignissimos, dolore impedit explicabo debitis amet
    sint voluptatibus expedita officia iure enim quas ipsum beatae, architecto
    accusantium placeat autem perspiciatis minus nam aspernatur ut. Sed iste
    nulla atque, eligendi unde deserunt animi voluptas harum ullam minima,
    distinctio cum similique excepturi optio quaerat repudiandae ratione,
    tempore quam doloribus accusamus quasi. Laborum ullam architecto ad odit
    placeat voluptas a culpa neque inventore ratione?
  </p>
  <footer id="sticky-footer" class="flex-shrink-0 py-2 text-white">
    <div class="container text-center">
      <small>Copyright &copy; RailTracks</small>
    </div>
  </footer>

  <script>
    /// on scrolling nav bar padding reduce
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 80 ||
        document.documentElement.scrollTop > 80
      ) {
        document.getElementById("navtop").style.padding = "2px 2px";
      } else {
        document.getElementById("navtop").style.padding = "20px 20px";
      }
    }
  </script>

  <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
  </body>

  </html>