<%- include('./partials/header.ejs'); %>

  
    <!-- nav bar end -->


  <section class="bg-image hero-area text-center overly">
    <!-- Container Start -->
    <div class="container">
      <!-- <div class="row"> -->
      <div class="col-md-12">
        <!-- Header Contetnt -->
        <div class="content-block">
          <h1>Find a Mentor!</h1>
          <p>Acquire the skills you need for a better life.</p>
        </div>
        <!-- Advance Search -->
        <div class="advance-search">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-md-12 align-content-center">
                <form action="/search" method="GET">
                  <div class="form-row" style="justify-content: center;">
                    <div class="form-group col-md-4">
                      <input type="search"  name="skill" style="color: #000000; background-color: #dadae4"
                        class="form-control my-2 my-lg-1" id="inputtext4" placeholder="What are you looking for" />
                    </div>
                    <!-- <div class="form-group col-md-4">
                      <select style="color: #000000; background-color: #dadae4"
                        class="w-80 form-control mt-lg-1 mt-md-2">
                        <option style="color: gray" value="" disabled selected hidden>
                          Select Category
                        </option>
                        <option value="1">Top rated</option>
                        <option value="2">Category 1</option>
                        <option value="3">Category 2</option>
                      </select>
                    </div> -->

                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-2 align-self-center">
                      <input type="submit" value="Search Now" class="btn-search btn-primary">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- search end -->
      </div>
      <!-- </div> -->
    </div>
  </section>
  <!-- extra - kono kamer nah.. ken use korchi nijeo jani nah, but kam korteche -->
  <!-- <div style="margin-top: 10px"></div> -->
  <!-- extra - end -->
<div class="bg-blue"> 
  
  <section style="padding:30px;color: #ffffff; text-align: center;">
    <div class=""><h2 style="color: #ffffff;  font-weight: bold;">Share Your Experience – be a Mentor! </h2></div>
    <p style="color: #ffffff; text-align: center;">Being a RailTracks mentor doesn’t require a significant time commitment and you can make a real difference for a young person who is just getting started. RailTracks mentors meet with their students via teleconference on a regular schedule for one-hour sessions.</p>
  </section>

  <section style="padding:0px 30px 30px 30px; color: #333; text-align:center; background-color:whitesmoke;">
    <div>
      <h2 style="  font-weight: bold;">Why You Should be a Mentor</h2>  
    </div>
    <div style="font-weight:400;">
      When you’re a mentor, you learn along with your student. RailTracks job skills can be used throughout a career and they are designe.
    </div>
  </section>
  
  <section style="padding:0px 30px 30px 30px; color: #ffffff; text-align:center;">
    <div>
      <h2 style="color: #ffffff; font-weight: bold;">Looking for a mentor?</h2>  
    </div>
    <p style="color: #ffffff;">
      Are you a parent, guardian, teacher, or caring adult to a young person who you feel could benefit from a mentor? Or are you a young person who wants to connect with a mentor? Mentors are supportive individuals who build relationships with young people by offering them guidance. support.</p>
  </section>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-2 text-white bg-black" style="margin-top: 0px;">
  <div class="container text-center">
    <small>Copyright &copy; RailTracks</small>
  </div>
</footer>




<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://noonpost.netlify.app/html/template/assets/js/jquery-3.5.0.min.js"></script>
<script src="https://noonpost.netlify.app/html/template/assets/js/popper.min.js"></script>
<script src="https://noonpost.netlify.app/html/template/assets/js/bootstrap.min.js"></script>

<!-- JS Plugins  -->
<script src="https://noonpost.netlify.app/html/template/assets/js/ajax-contact.js"></script>
<script src="https://noonpost.netlify.app/html/template/assets/js/owl.carousel.min.js"></script>
<script src="https://noonpost.netlify.app/html/template/assets/js/switch.js"></script>

<!-- JS main  -->
<script src="https://noonpost.netlify.app/html/template/assets/js/main.js"></script>



  <script>
    /// on scrolling nav bar padding reduce
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 80 ||
        document.documentElement.scrollTop > 80
      ) {
        document.getElementById("navtop").style.padding = "2px 2px";
      } else {
        document.getElementById("navtop").style.padding = "20px 20px";
      }
    }
  </script>

  <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
  </body>

  </html>