<%- include('./partials/profile_header.ejs'); %>




    <div class="max-w-screen-xl mx-auto section">

        <div class="columns is-desktop">
            <div class="column is-8-desktop" id="profile_data">
               
            </div>
            <div class="column is-4-desktop sm:pl-8">
                <div class="block rounded-2xl bg-gray-200 has-text-blue">
                    <div class="block">
                        
                        
                        <div class="plan-details" id="plan-0b6ca86cda3459">
                            <div class="px-8 pt-2 pb-6">
                                <div align="center"><p class="text-4xl font-black mt-4" id="isAvailable"></p></div>
                                <div class="italic mt-2">
                                    The most popular way to get mentored, let's work towards your goals!
                                </div>

                                <div class="mt-6 pl-4 text-base">
                                    <p class="text-lg mb-2">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                                            </path>
                                        </svg>
                                        Includes <span class="underline cursor-pointer tooltip is-tooltip-top is-tooltip-multiline" data-tooltip="We will never limit the interactions you have with your mentor, however there's a practical limit to how much your mentor can reply to.">unlimited</span>
                                        Q&amp;A via email
                                    </p>


                                    <p class="text-lg mb-2">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z">
                                            </path>
                                        </svg>
                                        <span id="call_value">Up to 20 calls
                                            per month</span>
                                    </p><p class="text-lg mb-2">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg>
                                        <span id="response_value"> Expect responses in 12 hours or less</span>
                                    </p>


                                </div>
                                <div class="mt-8 text-center">
                                    <a id="contact_now" class="bg-mc-blue inline-block w-full text-2xl font-black text-white text-center py-3 rounded-lg hover:text-white hover:bg-gray-700 transition-all duration-150" href="/mentor/NileshArnaiya/apply/?plan=0b6ca86cda3459"><b>Contact Now</b></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <%- include('./partials/footer.ejs'); %>




    <script>




        const url = window.location;
        const path = window.location.pathname.split("/").pop();
        let api_url = "http://localhost:3000/profile/api/v1/profile/" + path;

        let html_data;

        async function getData(){
            const response = await fetch(api_url);
            const data = await response.json();

            document.getElementById("call_value").innerText = `Up to ${data.callsPerMonth} calls per month`;
            document.getElementById("response_value").innerText =  ` Expect responses in ${data.maximunResponseTime} hours or less`;


            //restore checkbox previous state
            if(data.isAvailable)
            {

                document.getElementById("isAvailable").innerText="Available";

            }
            else
            {
                document.getElementById("isAvailable").innerText="Busy";


            }

            html_data=`
            
           
                <div>
                    <div class="columns sm:px-8">
                        <div class="column is-4" style="text-align: center;">
                            <a class="inline-block px-1 mb-1" href="/profile/${data.username}">
                                <img class="rounded-3xl w-full max-w-xs" src="/uploads/profile_picture/${data.profile_picture}" alt="${data.firstName} ${data.lastName}">
                            </a>
                            <div class="block">
                                <span class="icon is-medium" style="color: #00aced;">
                                    <a style="color: #00aced;" href="https://twitter.com/${data.twitter}" target="_blank">
                                        <i class="fa fa-lg fa-twitter"></i>
                                    </a>
                                </span>
                                <span class="icon is-medium" style="color: #0077B5;">
                                    <a style="color: #0077B5;" target="_blank" href="https://linkedin.com/in/${data.linkedin}">
                                        <i class="fa fa-lg fa-linkedin"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="column relative mt-8 sm:mt-0">
                            <div>
                                <a href="/profile/${data.username}" class="has-text-blue">
                                    <h1 class="font-bold nametag inline-block">
                                        ${data.firstName} ${data.lastName}

                                    </h1>
                                </a>
                                <h4 class="text-lg title-blue mb-2"> ${data.emp_role}
                                    @
                                    ${data.emp_company}</h4>



                                <div class="meta mt-4">
                                    <div class="block">

                                        <div class="sm:inline has-text-blue">
                                        </div>
                                    </div>
                                    <div class="block">`;
                                        for(let i = 0; i<Math.min(3,data.skills.length); i++){
                                       html_data+=` <div class="inline-block text-base">
                                            <a href="/search?skill=${data.skills[i]}" style="line-height: 3" class="tag-lg">
                                                ${data.skills[i]}
                                            </a>
                                        </div>`;
                                    }
                                    
                                    if(data.skills.length>3)
                                    {
                                        html_data+=`<a href="#tags" class="text-green-600 italic underline font-bold ml-2 whitespace-nowrap">+
                                            More..
                                        </a>`;
                                    }
                                    
                                   
                                  html_data+=  `
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content sm:px-8">
                    <div class="inline-block my-12">
                        <div class="has-text-blue max-w-screen-md overflow-hidden">
                            
                            <p style="font-size: 16px; line-height: 1.5;">${data.about}</p>
                            
                        </div>
                    </div>
                </div>

               
            `;
            if(data.hasWrittenBlog)
            {
                let date = new Date(data.latestBlog.createdAt).toDateString();
                html_data+=`<div class="sm:px-8 my-12 sm:my-6 block">
                    <h2 class="title is-4 has-text-blue">
                        <a href="/blog/author/${data.username}">  Blogs written by ${data.firstName} ${data.lastName} </a>
                    </h2>
                    <a href="/blog/viewBlog/${data.latestBlog.url}" class="columns max-w-screen-lg pb-8">
                        <div class="column is-3">
                            <div class="rounded-lg w-full h-40" style="background-image: url(/uploads/thumbnails/${data.latestBlog.thumbnail});  background-size: cover; background-position: center;">
                            </div>
                        </div>
                        <div class="column is-9">
                            <span class="has-text-blue text-sm mb-4 inline-block">${date}</span>
                            <h3 class="title is-5 has-text-blue" style="margin-bottom: 1em">
                                ${data.latestBlog.title}
                            </h3>
                            <span class="has-text-blue text-base">
                                <p>${data.latestBlog.text.substring(0,Math.min(100,data.latestBlog.text.length/2))}...
                                    <span href="/blog/viewBlog/${data.latestBlog.url}" class="block text-green-800 italic underline font-bold pt-2 hover:text-black">Read
                                        post</span>
                                </p>
                            </span>
                            
                        </div>
                    </a>
                   
                </div>`

                ;
            }
            

            html_data+=`<div class="sm:px-8 my-6 block" id="tags">
                    <h2 class="title is-4 has-text-blue">
                        Core Skills
                    </h2>`;
            for(let i = 0; i<data.skills.length; i++)
            {
                html_data+=` 
                <a href="/search?skill=${data.skills[i]}" class="inline-block tag-lg whitespace-nowrap mb-2">
                    ${data.skills[i]}
                    </a>
                `;
            }

            html_data+=`  </div>`;

            
                    
                  
                    
              


            document.getElementById("profile_data").innerHTML = html_data; 
            document.getElementById("contact_now").href="mailto:"+data.email;
            
           


        }
       getData();

      


</script>



</body></html>

