<!DOCTYPE html>
<html class="" lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nilesh Arnaiya - Java Mentor on MentorCruise</title>








    <meta name="theme-color" content="#ffffff">













    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="https://rsms.me/inter/inter.css"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.mentorcruise.com/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.mentorcruise.com/css/app.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.mentorcruise.com/css/tailwind.min.css">

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/all.css">
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/elegant-font-icons.css">
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/owl.carousel.css">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- main style -->
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/style.css">
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/custom.css">
    <link href="/css/style.css" rel="stylesheet">

    <script>
        //  window.location.replace("/");
        function logout() {
            fetch("/", {
                method: "DELETE",
            });
            setTimeout(() => {
                window.location.replace("/");
            }, 1000);
        }
    </script>

</head>

<body>


<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <!--logo-->
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="" class="logo-dark">
                <img src="/images/logo.png" alt="" class="logo-white">
            </a>
        </div>
        <!--/-->

        <!--navbar-collapse-->
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ml-auto mr-auto">


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/"> Home </a>
                        </li>




            </ul>
        </div>
        <!--/-->

        <!--navbar-right-->
        <div class="navbar-right ml-auto">

                    <a class="nav-link login-button" href="/login">Offer Mentorship</a>
                    <a class="nav-link text-white add-button" href="#">Find Mentor</a>





                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        </div>
    </div>
</nav>




    <div class="max-w-screen-xl mx-auto section">

        <div class="columns is-desktop">
            <div class="column is-8-desktop">
                <div>
                    <div class="columns sm:px-8">
                        <div class="column is-4" style="text-align: center;">
                            <a class="inline-block px-1 mb-1" href="/mentor/NileshArnaiya/">
                                <img class="rounded-3xl w-full max-w-xs" src="https://cdn.mentorcruise.com/cache/e1370cb3152b94fb50e45f1697c3a8c7/c352bfe473e66c91/e56320a6ecfe8dd68b512c754164de2e.jpg" alt="Nilesh Arnaiya">
                            </a>
                            <div class="block">
                                <span class="icon is-medium" style="color: #00aced;">
                                    <a style="color: #00aced;" href="https://twitter.com/NileshArnaiya" target="_blank">
                                        <i class="fa fa-lg fa-twitter"></i>
                                    </a>
                                </span>
                                <span class="icon is-medium" style="color: #0077B5;">
                                    <a style="color: #0077B5;" target="_blank" href="https://linkedin.com/in/nilesharnaiya">
                                        <i class="fa fa-lg fa-linkedin"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="column relative mt-8 sm:mt-0">
                            <div>
                                <a href="/mentor/NileshArnaiya/" class="has-text-blue">
                                    <h1 class="font-bold nametag inline-block">
                                        Nilesh Arnaiya

                                    </h1>
                                </a>
                                <h4 class="text-lg title-blue mb-2">Data scientist and Android Developer
                                    @
                                    Aventior Inc</h4>



                                <div class="meta mt-4">
                                    <div class="block">

                                        <div class="sm:inline has-text-blue">
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="inline-block text-base">
                                            <a href="/filter/java/" style="line-height: 3" class="tag-lg">
                                                Java
                                            </a>
                                        </div>
                                        <div class="inline-block text-base">
                                            <a href="/filter/python/" style="line-height: 3" class="tag-lg">
                                                Python
                                            </a>
                                        </div>
                                        <div class="inline-block text-base">
                                            <a href="/filter/research/" style="line-height: 3" class="tag-lg">
                                                Research
                                            </a>
                                        </div>
                                        <a href="#tags" class="text-green-600 italic underline font-bold ml-2 whitespace-nowrap">+
                                            21
                                            more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content sm:px-8">
                    <div class="inline-block my-12">
                        <div class="has-text-blue max-w-screen-md overflow-hidden">
                            <p></p>
                            <p>Hello, I'm Nilesh Arnaiya. I've been mentoring on this platform for 3+ years now and I've
                                previously worked as a Data scientist at Genuin Inc and currently a senior Android
                                Developer at Aventior. I was also a Mentor at Udacity where I applied my extensive
                                mentorship experience in AI and Cloud Nanodegrees.<br>Growing up I had a really good
                                mentor with me, motivating me to read research papers and replicate the studies, do
                                quality projects with large datasets, having high ambitions and goals that were defined
                                by a process. I understand the importance of having a mentor and what it means now that
                                you've taken your first step.<br>I encourage everyone to become a self-learner with the
                                best learning techniques and resources that I have to achieve their long term goals.
                                <br>Organized tasks and disciplined schedules is one of my ways to provide effective
                                mentorship. <br>If you're ready to dedicate the time and you need discipline and time
                                management along with technical skills to achieve your goals, do apply to this
                                mentorship.</p>
                            <p>Note: If you want to know more before making the decision of starting long-term
                                mentorship, please book a "session" instead which will help you gain more insights.</p>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="sm:px-8 my-12 sm:my-6 block">
                    <h2 class="title is-4 has-text-blue">
                        Articles written by Nilesh
                    </h2>
                    <a href="/blog/nilesh-arnaiya-meet-mentor/" class="columns max-w-screen-lg pb-8">
                        <div class="column is-3">
                            <div class="rounded-lg w-full h-40" style="background-image: url(https://cdn.mentorcruise.com/pinax-images/image-set-112/e9f691e8-f845-4434-990d-9c7ce6af04bd.jpg);  background-size: cover; background-position: center;">
                            </div>
                        </div>
                        <div class="column is-9">
                            <span class="has-text-blue text-sm mb-4 inline-block">Aug. 5, 2020</span>
                            <h3 class="title is-5 has-text-blue" style="margin-bottom: 1em">
                                Nilesh Arnaiya – Meet the Mentor
                            </h3>
                            <span class="has-text-blue text-base">
                                <p>Nilesh is one of our most experienced mentors. With almost two years on the
                                    platforms, he has held dozens of mentees’ hands during their journey and k…
                                    <span href="/blog/nilesh-arnaiya-meet-mentor/" class="block text-green-800 italic underline font-bold pt-2 hover:text-black">Read
                                        post</span>
                                </p>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="sm:px-8 my-6 block" id="tags">
                    <h2 class="title is-4 has-text-blue">
                        Core Skills
                    </h2>
                    <a href="/filter/datascience/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Data science
                    </a>
                    <a href="/filter/java/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Java
                    </a>
                    <a href="/filter/ai/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Ai
                    </a>
                    <a href="/filter/matlab/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Matlab
                    </a>
                    <a href="/filter/datastructures/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Data structures
                    </a>
                    <a href="/filter/tensorflow/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Tensorflow
                    </a>
                    <a href="/filter/python/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Python
                    </a>
                    <a href="/filter/artificialintelligence/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Artificial intelligence
                    </a>
                    <a href="/filter/interview/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Interview
                    </a>
                    <a href="/filter/programming/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Programming
                    </a>
                    <a href="/filter/javascript/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Javascript
                    </a>
                    <a href="/filter/kotlin/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Kotlin
                    </a>
                    <a href="/filter/machinelearning/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Machine learning
                    </a>
                    <a href="/filter/kaggle/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Kaggle
                    </a>
                    <a href="/filter/r/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        R
                    </a>
                    <a href="/filter/pytorch/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Pytorch
                    </a>
                    <a href="/filter/android/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Android
                    </a>
                    <a href="/filter/softwaretesting/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Software testing
                    </a>
                    <a href="/filter/webdevelopment/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Web development
                    </a>
                    <a href="/filter/research/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Research
                    </a>
                    <a href="/filter/frontend/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Frontend
                    </a>
                    <a href="/filter/deeplearning/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Deep learning
                    </a>
                    <a href="/filter/algorithms/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        Algorithms
                    </a>
                    <a href="/filter/react/" class="inline-block tag-lg whitespace-nowrap mb-2">
                        React
                    </a>
                </div>
            </div>
            <div class="column is-4-desktop sm:pl-8">
                <div class="block rounded-2xl bg-gray-200 has-text-blue">
                    <div class="block">
                        <nav class="relative z-0 flex divide-x divide-gray-200" aria-label="Tabs" style="padding-right: 1px;">


                        </nav>
                        <div class="plan-details hidden" id="plan-9e835c699a">
                            <div class="px-8 pt-2 pb-6">
                                <p class="text-4xl font-black mt-4">
                                    $150/month
                                </p>
                                <div class="italic mt-2">
                                    Keep me on retainer as we meet sporadically, as your schedule allows it.
                                </div>
                                <span class="inline-block tag-md italic mt-4">
                                    1
                                    spot left!
                                </span>
                                <div class="mt-6 pl-4 text-base">
                                    <p class="text-lg mb-2">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                                            </path>
                                        </svg>
                                        Includes <span class="underline cursor-pointer tooltip is-tooltip-top is-tooltip-multiline" data-tooltip="We will never limit the interactions you have with your mentor, however there's a practical limit to how much your mentor can reply to.">unlimited</span>
                                        Q&amp;A via chat
                                    </p>
                                    <p class="text-lg mb-2 cursor-pointer tooltip is-tooltip-top is-tooltip-multiline" data-tooltip="Mentor can provide sample exercises and tasks">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z">
                                            </path>
                                        </svg>
                                        Tasks &amp; exercises
                                    </p>
                                    <p class="text-lg mb-2">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z">
                                            </path>
                                        </svg>
                                        Up to 10 calls
                                        per month
                                    </p>
                                    <p class="text-lg mb-2 cursor-pointer">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg>
                                        Expect responses in 24 hours or less
                                    </p>
                                    <p class="text-lg mb-2 cursor-pointer tooltip is-tooltip-top is-tooltip-multiline" data-tooltip="No tricky fees or per-session payments. $
                                               199/month is all you'll pay.">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                        Flat fee, no hidden costs
                                    </p>
                                    <p class="text-lg mb-2  cursor-pointer tooltip is-tooltip-top is-tooltip-multiline" data-tooltip="The trial helps to evaluate whether Nilesh is a good fit for you. You can cancel anytime through your dashboard. Only applies to the first time you sign up with Nilesh.">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                                        </svg>
                                        7 day free trial! Cancel anytime.
                                    </p>
                                </div>
                                <div class="mt-8 text-center">
                                    <a class="bg-mc-blue inline-block w-full text-2xl font-black text-white text-center py-3 rounded-lg hover:text-white hover:bg-gray-700 transition-all duration-150" href="/mentor/NileshArnaiya/apply/?plan=9e835c699a"><b>Apply Now</b></a>
                                    <span class="inline-block italic mt-2">
                                        Only 1 spot left!
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="plan-details" id="plan-0b6ca86cda3459">
                            <div class="px-8 pt-2 pb-6">
                                <p class="text-4xl font-black mt-4">
Available/Busy
                                </p>
                                <div class="italic mt-2">
                                    The most popular way to get mentored, let's work towards your goals!
                                </div>

                                <div class="mt-6 pl-4 text-base">
                                    <p class="text-lg mb-2">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                                            </path>
                                        </svg>
                                        Includes <span class="underline cursor-pointer tooltip is-tooltip-top is-tooltip-multiline" data-tooltip="We will never limit the interactions you have with your mentor, however there's a practical limit to how much your mentor can reply to.">unlimited</span>
                                        Q&amp;A via email
                                    </p>


                                    <p class="text-lg mb-2">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z">
                                            </path>
                                        </svg>
                                        Up to 20 calls
                                        per month
                                    </p><p class="text-lg mb-2">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg>
                                        Expect responses in 12 hours or less
                                    </p>


                                </div>
                                <div class="mt-8 text-center">
                                    <a class="bg-mc-blue inline-block w-full text-2xl font-black text-white text-center py-3 rounded-lg hover:text-white hover:bg-gray-700 transition-all duration-150" href="/mentor/NileshArnaiya/apply/?plan=0b6ca86cda3459"><b>Contact Now</b></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <footer id="sticky-footer" class="flex-shrink-0 py-2 text-white bg-black">
        <div class="container text-center">
          <small>Copyright © RailTracks</small>
        </div>
      </footer>






</body></html>

