<!doctype html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title> Blogs </title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/all.css">
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/elegant-font-icons.css">
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/owl.carousel.css">

    <!-- main style -->
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/style.css">
    <link rel="stylesheet" href="https://noonpost.netlify.app/html/template/assets/css/custom.css">
    <link href="/css/style.css" rel="stylesheet" />

    <script>
        //  window.location.replace("/");
         function logout() {
              fetch("/", {
                method: "DELETE",
              });
              setTimeout(() => {
                window.location.replace("/");
              }, 1000);
            }
      </script>
</head>

<body>  
    <!--loading -->
    <!-- <div class="loading">
        <div class="circle"></div>
    </div> -->
    <!--/-->
    
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!--logo-->
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="" class="logo-dark">
                    <img src="/images/logo.png" alt="" class="logo-white">
                </a>
            </div>
            <!--/-->
    
            <!--navbar-collapse-->
           
            <!--/-->
    
            <!--navbar-right-->
            <div class="navbar-right ml-auto">
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ml-auto mr-auto">
                        <% if (loggedInUser && loggedInUser.email) { %>

                        <li class="nav-item">
                            <a class="nav-link" href="/profile"> Profile </a>
        
                        </li>
        
                        <li class="nav-item ">
                            <a class="nav-link " href="/blog/createBlog"> Create Blog </a>
                
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link " onclick="logout()"> Log Out </a>
                
                        </li>
                        <% } else { %>
                            <a class="nav-link login-button" href="/login"
                            >Offer Mentorship</a
                          >
              
                          <a class="nav-link text-white add-button" href="#">Find Mentor</a>
                          <% } %>
                       
                    </ul>
                </div>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    

  
    <!--post-default-->
    <section class="section pt-55 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mb-20">
                    <!--Post-single-->
                    <div class="post-single" id="blog-view">
                        <div class="post-single-image">
                            <img src="assets/img/blog/6.jpg" alt="">
                        </div>
                        <div class="post-single-content">
                            <h4 id="blog-title"> </h4>
                            <div class="post-single-info">
                                <ul class="list-inline">
                                    <li><a href="author.html"><img src="assets/img/author/1.jpg" alt=""></a></li>
                                    <li>Written </a> </li>
                                    <li class="dot"></li>
                                    <li>January 15, 2021</li>
                                    
                                </ul>
                            </div>
                        </div>
                  
                        <div class="post-single-body">
                            
                        </div>

                    </div> <!--/-->


                
                </div>
                <div class="col-lg-4 max-width">
                    
                    <!--/-->

                    <!--widget-latest-posts-->
                    <div class="widget ">
                        <div class="section-title">
                            <h5>Latest Posts</h5>
                        </div>
                        <ul class="widget-latest-posts" id="latest_post">
                           
                           
                            <li class="last-post">
                                <div class="image">
                                    <a href="post-default.html">
                                        <img src="assets/img/latest/4.jpg" alt="...">
                                    </a>
                                </div>
                                <div class="nb">4</div>
                                <div class="content">
                                    <p>
                                        <a href="post-default.html">10 Best and Most Beautiful Places to Visit in Italy</a>
                                    </p>
                                    <small>
                                        <span class="icon_clock_alt"></span> January 15, 2021</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    

                    
                    <!--/-->
                </div> 
            </div>
        </div>
    </section><!--/-->

    
    <footer id="sticky-footer" class="flex-shrink-0 py-2 text-white bg-black">
        <div class="container text-center">
          <small>Copyright &copy; RailTracks</small>
        </div>
      </footer>

   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://noonpost.netlify.app/html/template/assets/js/jquery-3.5.0.min.js"></script>
    <script src="https://noonpost.netlify.app/html/template/assets/js/popper.min.js"></script>
    <script src="https://noonpost.netlify.app/html/template/assets/js/bootstrap.min.js"></script>
    
    <!-- JS Plugins  -->
    <script src="https://noonpost.netlify.app/html/template/assets/js/ajax-contact.js"></script>
    <script src="https://noonpost.netlify.app/html/template/assets/js/owl.carousel.min.js"></script>
    <script src="https://noonpost.netlify.app/html/template/assets/js/switch.js"></script>
    
    <!-- JS main  -->
    <script src="https://noonpost.netlify.app/html/template/assets/js/main.js"></script>


    <script>

  //api
  //  api fetch
  let api_url_blog = "http://localhost:3000/blog/api/v1/blogs";
    async function getLatestData(){
      const response = await fetch(api_url_blog);
      const data = await response.json();
      let latest_data='';
                     
      for(let i = 0; i<data.length; i++)
      {
          let date = new Date(data[i].createdAt).toDateString();

          if(i<4)
      {
          latest_data+=`<li class="last-post">
                                <div class="image">
                                    <a href="/blog/viewBlog/${data[i].url}">
                                        <img  src="/uploads/thumbnails/${data[i].thumbnail}" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <p>
                                        <a href="/blog/viewBlog/${data[i].url}">${data[i].title}</a>
                                    </p>
                                    <small>
                                        ${date}</small>
                                </div>
                            </li>`;
      }
       
      }

    
      document.getElementById("latest_post").innerHTML = latest_data;         
     
    }

    getLatestData();










        // url
        const url = window.location;
        const path= window.location.pathname.split("/").pop();

        let blog_post = '';
     
         // api fetch
         let api_url = "http://localhost:3000/blog/api/v1/blogs/"+path;
         async function getData(){
           const response = await fetch(api_url);
           const data = await response.json();
           const {blog_title, blog_author, blog_text,blog_thumbnail,createdAt} = data;
           let date = new Date(createdAt).toDateString();

           blog_post+=` <div class="post-single-image">
                            <img src="/uploads/thumbnails/${blog_thumbnail}" alt="">
                        </div>
                        <div class="post-single-content">
                            <h4 id="blog-title"> ${blog_title}</h4>
                            <div class="post-single-info">
                                <ul class="list-inline">
                                    <li>Written by ${blog_author}</a> </li>
                                    <li class="dot"></li>
                                    <li>${date}</li>
                                    
                                </ul>
                            </div>
                        </div>
                  
                        <div class="post-single-body">
                            ${blog_text}
                        </div>`;
                    document.getElementById("blog-view").innerHTML = blog_post;
          
     
     
           // console.log(data);
         }
         getData();
     
     
     
         /// on scrolling nav bar padding reduce
         window.onscroll = function () {
           scrollFunction();
         };
     
         function scrollFunction() {
           if (
             document.body.scrollTop > 80 ||
             document.documentElement.scrollTop > 80
           ) {
             document.getElementById("navtop").style.padding = "2px 2px";
           } else {
             document.getElementById("navtop").style.padding = "20px 20px";
           }
         }
       </script>


</body>
</html>