<%- include('./partials/header.ejs'); %>


  
    <!--post-default-->
    <section class="section pt-55 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mb-20">
                    <!--Post-single-->
                    <div class="post-single" id="blog-view">
                        <div class="post-single-image">
                            <img src="" alt="">
                        </div>
                        <div class="post-single-content">
                            <h4 id="blog-title"> </h4>
                            <div class="post-single-info">
                                <ul class="list-inline">
                                    <li><a href=""><img src="" alt=""></a></li>
                                    <li>Written </a> </li>
                                    <li class="dot"></li>
                                    <li>January 15, 2021</li>
                                    
                                </ul>
                            </div>
                        </div>
                  
                        <div class="post-single-body">
                            
                        </div>

                    </div> <!--/-->


                
                </div>
                <div class="col-lg-4 max-width">
                    
                    <!--/-->

                    <!--widget-latest-posts-->
                    <div class="widget ">
                        <div class="section-title">
                            <h5>Latest Posts</h5>
                        </div>
                        <ul class="widget-latest-posts" id="latest_post">
                           
                           
                            <li class="last-post">
                                <div class="image">
                                    <a href="">
                                        <img src="" alt="...">
                                    </a>
                                </div>
                                <div class="content">
                                    <p>
                                        <a href=""></a>
                                    </p>
                                    <small>
                                        <span class="icon_clock_alt"></span> </small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    

                    
                    <!--/-->
                </div> 
            </div>
        </div>
    </section><!--/-->

    <%- include('./partials/footer.ejs'); %>



    <script>

  //api
  //  api fetch
  let api_url_blog = "http://localhost:3000/blog/api/v1/blogs";
    async function getLatestData(){
      const response = await fetch(api_url_blog);
      const data = await response.json();
      let latest_data='';
                     
      for(let i = 0; i<data.length; i++)
      {
          let date = new Date(data[i].createdAt).toDateString();

          if(i<4)
      {
          latest_data+=`<li class="last-post">
                                <div class="image">
                                    <a href="/blog/viewBlog/${data[i].url}">
                                        <img  src="/uploads/thumbnails/${data[i].thumbnail}" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <p>
                                        <a href="/blog/viewBlog/${data[i].url}">${data[i].title}</a>
                                    </p>
                                    <small>
                                        ${date}</small>
                                </div>
                            </li>`;
      }
       
      }

    
      document.getElementById("latest_post").innerHTML = latest_data;         
     
    }

    getLatestData();










        // url
        const url = window.location;
        const path= window.location.pathname.split("/").pop();

        let blog_post = '';
     
         // api fetch
         let api_url = "http://localhost:3000/blog/api/v1/blogs/"+path;
         async function getData(){
           const response = await fetch(api_url);
           const data = await response.json();
           const {blog_title, blog_author, blog_text,blog_thumbnail,createdAt} = data;
           let date = new Date(createdAt).toDateString();

           blog_post+=` <div class="post-single-image">
                            <img src="/uploads/thumbnails/${blog_thumbnail}" alt="">
                        </div>
                        <div class="post-single-content">
                            <h4 id="blog-title"> ${blog_title}</h4>
                            <div class="post-single-info">
                                <ul class="list-inline">
                                    <li>Written by ${blog_author}</a> </li>
                                    <li class="dot"></li>
                                    <li>${date}</li>
                                    
                                </ul>
                            </div>
                        </div>
                  
                        <div class="post-single-body">
                            ${blog_text}
                        </div>`;
                    document.getElementById("blog-view").innerHTML = blog_post;
          
     
     
           // console.log(data);
         }
         getData();
     
     
     
         /// on scrolling nav bar padding reduce
         window.onscroll = function () {
           scrollFunction();
         };
     
         function scrollFunction() {
           if (
             document.body.scrollTop > 80 ||
             document.documentElement.scrollTop > 80
           ) {
             document.getElementById("navtop").style.padding = "2px 2px";
           } else {
             document.getElementById("navtop").style.padding = "20px 20px";
           }
         }
       </script>


</body>
</html>